<% title 'Log In' %>

<h2>Log In</h2>

<%= form_tag :login do %>
  <div class="field">
    <%= label_tag :login, 'Email or username' %>
    <%= text_field_tag :login %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag 'Log In' %>
  </div>
<% end %>
